/* box1 ელემენტის გასტილვა */
.box1 {
    background-color: #f0e68c; /* ფონი - ღია ყვითელი */
    border: 2px solid #8b0000; /* საზღვარი - მუქი წითელი */
    padding: 20px; /* შიდა მანძილი - 20px */
    margin: 10px;  /* გარე მანძილი - 10px */
}

/* box2 ელემენტის გასტილვა */
.box2 {
    background-color: #add8e6; /* ფონი - ღია ლურჯი */
    border: 2px solid #00008b; /* საზღვარი - მუქი ლურჯი */
    padding: 20px; /* შიდა მანძილი - 20px */
    margin: 10px;  /* გარე მანძილი - 10px */
}