* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFEE8C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blog-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 350px;
}

.blog-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 20px;
}

.blog-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.blog-description {
    color: #777;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.read-more {
    font-size: 1rem;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .blog-card {
        width: 90%;
    }
}