
:root {
    --main-color: #3498db;
}

h1 {
    color: var(--main-color);
}

p {
    color: var(--main-color); 
}

button {
    background-color: var(--main-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}