.box {
    width: 300px;  /* ელემენტის სიგანე */
    height: 150px; /* ელემენტის სიმაღლე */
    padding: 20px; /* შიგთავსსა და ბორდერს შორის სივრცე */
    border: 2px solid #000; /* ელემენტის გარშემო არსებული ბორდერი */
    margin: 30px;  /* ელემენტსა და სხვა ელემენტებს შორის სივრცე */
  }